html, body {
    min-height: 100%;
}

* {
    font-family: 'Open Sans', sans-serif;
}

#window {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

#window-left {
    position: absolute;
    left: 0;
    top: @navbar-height;
    bottom: 0;
    width: @window-left-width;
    overflow: auto;
    border-right: 1px solid @navbar-default-border;
}

#window-right {
    position: absolute;
    right: 0;
    top: @navbar-height;
    bottom: @window-bottom-height;
    width: 100 - @window-left-width;

    #chat-messages {
        position: absolute;
        left: 0;
        right: @chat-people-list-width;
        top: 0;
        bottom: 0;
        overflow: auto;

        .row-chat-message {
            padding-top: 0.5em;
            padding-bottom: 0.5em;

            border-bottom: 1px solid @gray-lighter;
        }

        .avatar {
            padding-right: @padding-base-horizontal;
        }

        .username {
            color: @gray-light;
            font-size: 0.8em;
        }

        .message {

        }

        .date {
            color: @gray-light;
            font-size: 0.8em;
        }
    }

    #chat-people {
        position: absolute;
        top: 0;
        right: 0;
        width: @chat-people-list-width;
        bottom: 0;
        overflow: auto;
        border-left: 1px solid @navbar-default-border;
    }
}



#window-bottom {
    position: absolute;
    left: @window-left-width;
    right: 0;
    bottom: 0;
    height: @window-bottom-height;

    #send-message-input button {
        height: @window-bottom-height
    }
}

.nav.nav-list {
    font-size: 0.9  em;
    &>li>a {
        padding-top: 1px;
        padding-bottom: 1px;
    }
}
