<div id="spaces">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <h3>
                    Spaces
                </h3>
                <ul class="nav nav-pills nav-stacked">
                    <li class="active"><a href="#">All</a></li>
                    <li ng-repeat="i in [1,2,3,4,5,6,7,8,9,10,11,12,13]">
                        <a href="#">Space</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>


<div id="people">

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <h3>
                    People
                </h3>
                <ul class="nav nav-pills nav-stacked">
                    <li ng-repeat="i in [1,2,3,4,5,6,7,8,9,10,11,12,13]">
                        <a href="#"><i class="status status-available"></i> Person 1</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
