<div id="chat-messages">
    <div class="container-fluid">
        <div class="col-md-12">
            <div ng-repeat="msg in [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16]">
                <div
                    class="row chat-message"
                    ng-class-odd="'odd'"
                >
                    <div class="col-md-2 username">
                        User Name
                    </div>
                    <div class="col-md-8 message">
                        Some interesting message
                    </div>
                    <div class="col-md-2 date">
                        Jan 13 10:12 AM
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="chat-people">
    <div class="container-fluid">
        <div class="col-md-12">
            <h3>
                People
            </h3>
            <ul class="nav nav-pills nav-stacked">
                <li ng-repeat="i in [1,2,3,4,5,6,7,8,9,10,11,12,13]">
                    <a href="#">Person 1</a>
                </li>
            </ul>
        </div>
    </div>
</div>

